{% extends 'prona/base.html' %}
{% block title %}Shto prone {% endblock%}
{% block prona_active %}active {% endblock%}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3> Shto Pronën Tuaj</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                   <form class="form-horzontal" action="" method="post" enctype="multipart/form-data">
                       {% csrf_token %}

                       {% include 'prona/harta.html' %}

                   </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}